body {
    margin: 0;
    background-color: #110F17;
    color: #bbbbbb;
    padding-top: 80px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	display: flex;
	flex-direction: column;
}

a,
ul {
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 24px;
}

::-webkit-scrollbar-thumb {
    border-radius: 24px;
    background-color: #363142;
}

::-webkit-scrollbar-track {
    background-color: #282433;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 16px;
}

.box{
    width: 250px;
    height: 380px;
    border-radius: 15px;
    background-image: linear-gradient(310deg, #282433, #1A1821, #110F17);
	box-shadow: 0 0 24px rgba(0, 0, 0, 1);
	margin: 32px;
	transition: .3s ease-in-out;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
    overflow: hidden;
	position: relative;
}

.box .content{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -110%;
	transition: .5s ease-in-out;
	padding: 150px 8.5px;
}

.box .content::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}

.box:hover .content{
	transform: translateX(100%);
}

/*NavBar*/

.navbar {
    width: 100%;
    height: 70px;
    top: 0 !important;
    position: fixed !important;
    background-image: linear-gradient(310deg, #282433, #1A1821, #110F17);
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-in-out;
    z-index: 1;
}

.navbar-scrolled {
    border-bottom: 1px solid #363142;
}

.navbar a {
    color: #bbbbbb;
}

.navbar,
.navbar ul {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.navbar ul{
    margin-right: 20px;
}

.navbar li {
    padding: 15px;
    font-size: 18px;
    position: relative;
}

.navbar span {
    padding: 10px 30px;
    font-size: 26px;
    font-weight: 500;
    position: relative;
}

.navbar li::after,
.navbar-logo span::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-image: linear-gradient(to right, #ffffff 0%, #636161 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;

}

.navbar li:hover::after,
.navbar-logo span:hover::after {
    width: 100%;
}

/*Home*/

.home{
    width: 100%;
    height: 550px;
    background-image: linear-gradient(310deg, #282433, #1A1821, #110F17);
    margin-top: 16px;
}

@keyframes square-animation {
	0% {
		left: 0;
		top: 0;
	}

	10.5% {
		left: 0;
		top: 0;
	}

	12.5% {
		left: 16px;
		top: 0;
	}

	23% {
		left: 16px;
		top: 0;
	}

	25% {
		left: 32px;
		top: 0;
	}

	35.5% {
		left: 32px;
		top: 0;
	}

	37.5% {
		left: 32px;
		top: 16px;
	}

	48% {
		left: 32px;
		top: 16px;
	}

	50% {
		left: 16px;
		top: 16px;
	}

	60.5% {
		left: 16px;
		top: 16px;
	}

	62.5% {
		left: 16px;
		top: 32px;
	}

	73% {
		left: 16px;
		top: 32px;
	}

	75% {
		left: 0;
		top: 32px;
	}

	85.5% {
		left: 0;
		top: 32px;
	}

	87.5% {
		left: 0;
		top: 16px;
	}

	98% {
		left: 0;
		top: 16px;
	}

	100% {
		left: 0;
		top: 0;
	}
}

.loader {
	position: relative;
	width: 64px;
	height: 64px;
	transform: rotate(45deg);
	margin: 0 auto 48px;
	top: 10%;
}

.loader-square {
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	height: 12px;
	margin: 2px;
	border-radius: 0px;
	background: #fafafa;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
	animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
	animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
	animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
	animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
	animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
	animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
	animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
	animation-delay: -10s;
}

.home-container{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

#home-line-detail{
    width: 800px;
	height: 10px;
    border: 2px solid #bbbbbb;
}

.home .home-container img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 25px;
}

.home-text{
    margin: 80px 20px;
}

.home-text h1{
    margin: 12px;
    font-size: 20px;
    font-weight: 300
}

.home-text #name{
    font-size: 30px;
}

/*Cursos*/
.cursos h1{
    font-size: 32px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

#cursos-line-big{
    width: 150px;
}

#cursos-line-samall{
    width: 90px;
}

.cursos-box{
    width: 350px;
    height: 290px;
	position: relative;
}

.cursos-box img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

#cursos-title{
	font-size: 24px;
	font-weight: 300;
	transition: .5s ease-in-out;
	text-align: center;
}

#cursos-caption{
	font-size: 18px;
	transition: .5s ease-in-out;
	margin-bottom: 10px;
}

.cursos .box .content{
	padding: 195px 11.5px;
}

.box .content p{
	font-size: 14px;
	margin: 32px 22px;
	text-align: center;
}

.cursos .box:hover{
	width: 350px;
	height: 350px;
}

.cursos .box:hover #cursos-title, .cursos .box:hover #cursos-caption{
	opacity: 0;
}

/*Conhecimentos*/

#conhecimentos-title{
	margin: 40px 0 0;
}

#conhecimentos-title, #conhecimentos-caption{
	font-weight: 300;
	transition: .4s ease-in-out;
}

.box:hover #conhecimentos-title, .box:hover #conhecimentos-caption{
	opacity: 0;
}

.box i.fa-brands{
	font-size: 10rem;
	transition: .5s ease-in-out;
}

.box:hover i.fa-brands{
	font-size: 7rem;
	transform: translate(0, -130px);
	margin-top: 40px;
}

#conhecimentos-caption{
	font-size: 18px;
}

/*Projetos*/
.projetos h1{
    font-size: 32px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.projetos .box:hover{
	width: 350px;
	height: 350px;
}

/*Contatos*/

.contatos{
	margin-top: 16px;
	width: 100%;
	background-color: #0B0A0F;
	bottom: 0;
	flex-shrink: 0;
}

.contatos h1{
    font-size: 32px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
	padding-top: 32px;
}

.contatos .box-footer{
	width: 400px;
	height: 400px;
	margin: 32px 8px 0;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: none;
	background-image: linear-gradient(310deg, #282433, #1A1821, #110F17);
}

.box-items{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contatos .box-largo{
	width: 800px;
}

a .box-items{ 
	display: flex;
	flex-wrap: wrap;
	color: #bbbbbb;
}

.box-footer a{
	margin: 0 auto;
	text-decoration: none;
}

.box-items i{
	font-size: 2rem;
	margin: 5px 10px 0;
}

.box-items h3{
	font-size: 14px;
}

.copyright{
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	color: #bbbbbb;
	font-size: 14px;
}
.copyright i{
	font-size: 14px;
	padding: 20px 5px 0;
}
